<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Display Layouts</title>
        <link rel="stylesheet" href="resources/style.css"">
    </head>
    <body>
        <p>Grid layout</p>
        <div class="grid">
            <div class="box">Item one</div>
            <div class="box">Item two</div>
            <div class="box">Item three</div>
            <div class="box area">Item four</div>
            <div class="box">Item five</div>
            <div class="box">Item six</div>
            <div class="box">Item seven</div>
            <div class="box">Item eight</div>
            <div class="box">Item nine</div>
        </div>
        <p>Flex layout</p>
        <div class="container">
            <div class="box2">Item one</div>
            <div class="box2">Item two</div>
            <div class="box2">Item three</div>
            <div class="box2">Item four</div>
            <div class="box2">Item five</div>
            <div class="box2">Item six</div>
            <div class="box2">Item seven</div>
            <div class="box2">Item eight</div>
            <div class="box2">Item nine</div>
        </div>
    </body>
</html>